#download{
    position: relative;
    z-index: 400;
    width: 100%;
    height: 723px;
    background-color: #de5d5d;
    .download-left {
        height: 723px;
    
        .shadow-div {
            position: relative; /* Додайте це для зміни положення ::before відносно .shadow-div */
            
            img {
                width: 246px;
                height: 246px;
                border-radius: 60px;
                object-fit: cover; /* Забезпечте заповнення області зображення */
                position: relative; /* Додайте це, щоб регулювати відносини з псевдоелементом */

            }
            &::before {
                content: "";
                position: absolute;
                transform: rotate(-51deg);
                top:29.5%;
                left: 25%;
                border-radius: 10px;
                width: 299px;
                height: 246px;

                background-image: linear-gradient( rgba(191,80,80,0.9999999999999999) 0%, rgba(209,209,209,0) 100%);
                z-index: -1; /* Розміщення під зображенням */
            }
        }
    }

    .download-rigth{
        width: 100%;
        h1{
            max-width: 360px;
            font-size: 48px;
            color: #ffffff;
            font-weight: 400;
        }
        p{
            margin-top: 10px;
            font-size: 24px;
            color: #ffffff;
            font-weight: 400;
        }
        .btn-download{
            margin-top: 30px;
            a{
                text-decoration: none;
            }
            p{
                font-size: 28px;
                width: max-content;
                border-radius: 5px;
                background-color: rgba(6,53,80,0);
                border: 3px solid #ffffff;
                padding: 10px 20px;
                text-align: center;
                img{
                   margin-left: 5px;
                   margin-right: 20px;
                }
                &:hover{
                    background-color: #063550;
                    border-color: #063550;
                }
            }
        }
    }
}

@media(max-width: 1100px){
    #download{
        height: 550px;
        .container-fluid{
            max-width: 800px;
            .download-left{
                height: 550px;
            }
            .download-rigth{
                
                .btn-download{
                    .col-md-6{
                        padding-left: 0px;
                    }
                    p{
                        margin-top: 20px;
                        font-size: 22px;
                        img{
                            width: 40px;
                            height: auto;
                        }
                    }
                }                
            }
        }
    }
}

@media(max-width: 800px){
    #download{
        height: 450px;
        .container-fluid{
            max-width: 500px;
            height: 450px;
            .download-left{
                height: 450px;
                .shadow-div {
                img{
                    width: 200px;
                    height: 200px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    transform: rotate(-51deg);
                    top:26%;
                    left: 25%;
                    border-radius: 10px;
                    width: 230px;
                    height: 200px;
    
                    background-image: linear-gradient( rgba(191,80,80,0.9999999999999999) 0%, rgba(209,209,209,0) 100%);
                    z-index: -1; /* Розміщення під зображенням */
                }
            }
            }
            .download-rigth{
                margin-left: 20px;
                h1{
                    font-size: 36px;
                }
                P{
                    font-size: 20px;
                }
                .col-md-6{
                    max-width: 100%;
                }
                .row{
                    margin: 0px;
                    max-width: 400px;
                    flex-wrap: wrap;
                }
            }
            .row{
                flex-wrap: nowrap;
            }
        }
    }
}

@media(max-width: 500px){
    #download{
        height: 630px;
        overflow: hidden;
        .container-fluid{
            max-width: 300px;
            .download-left{
                margin: 0 auto;
                width: 300px;
                padding: 30px 30px;
                height: max-content;
            }
                .download-rigth{
                    margin: 0 auto;
                    h1{
                        width: 100%;
                        font-size: 32px;
                    }
                    p{
                        width: 100%;
                        font-size: 16px;
                    }
                    .col-md-6{
                        padding: 0px;
                    }
                    .btn-download{
                        p{
                            img{
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .row{
                    flex-wrap: wrap;
                }
        }
    }
}