#taken{
    position: relative;
    height: 821px;
    background-color: #ffffff;
    width: 100%;
    z-index: 300;
    .taken-block{
        margin: 0 auto;
        width:1030px;
        padding: 70px 30px;
        margin-bottom: 24px;
        h1{
            font-size: 48px;
            color: #f06464;
            font-weight: 400;
        }
        p{
            font-size: 18px;
            line-height: 27px;
            color: #666666;
            font-weight: 400;
            width: 470px;
        }
    }

    .image-block {
        position: relative;
        z-index: 100;
        height: 519px;
        width: 100%;
        display: flex;

        
        .img-block{
            width: 25%;
            height: 519px;
            transition: transform 0.3s ease-in-out;
            .img-content{
                width: 100%;
                height: 100%;
                overflow-y: visible;
                background-size: cover;
                background-position: left center;
                background-repeat: no-repeat;         
            }
            &:hover,
            &.click {
                transform: translateY(-87px);
            }
        
            .img-dis{
                display: flex;
                width:100%;
                height: 87px;
                background-color: #151515;
                padding-top: 30px;
                .dis-left{
                    p{
                        margin-left: 20px;
                        font-size: 18px;
                        line-height: 27px;
                        color: #c2c2c2;
                        font-weight: 400;
                    }
                }
                .dis-rigth{
                    width: 100px;
                    display: flex;
                    margin-left: auto;
                    svg{
                        width: 30px; 
                        height: 30px;
                        margin-right: 5px;
                        &:hover,
                        &.click{
                            fill: #f06464
                        }
                    }
                    p{
                        text-align: right;
                        margin-right: 20px;
                        font-size: 24px;
                        line-height: 27px;
                        color: #f06464;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media(max-width: 1600px){
    #taken{
        height: 702px;
        .image-block{
            height: 400px;
            .img-block{
                height: 400px;

                &:hover,
                &.click {
                transform: translateY(-60px);
            }
                .img-dis{
                    padding-top: 15px;
                    height: 60px;
                }
            }
        }
    }
}

@media(max-width:1300px){
    #taken{
        .image-block{
            .img-block{
                &:hover,
                &.click {
                transform: translateY(-60px);
            }
                .img-dis{
                    padding-top: 20px;
                    height: 60px;
                    .dis-left{
                        p{
                            margin-top: 5px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .dis-rigth{
                        width: 80px;
                        svg{
                            width: 25px; 
                            height: 25px;
                            margin-left: auto;
                            margin-right: 5px;
                        }
                        p{
                            text-align: right;
                            margin-right: 20px;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1170px){
    #taken{
        height: 568px;
        .taken-block{
            margin-bottom: 0;
            padding-bottom: 60px;
        }
        .image-block{
            height: 300px;

            .img-block{
                height: 300px;

                &:hover,
                &.click {
                    transform: translateY(-50px);
                }
                .img-dis{
                    padding-top: 15px;
                    height: 50px;
                    .dis-left{
                        p{
                            margin-top: 0px;
                            margin-left: 10px;
                        }
                    }
                    .dis-rigth{
                        margin-left: auto;
                        svg{
                            width: 26px; 
                            height: 26px;
                            margin-right: 5px;
                        }
                        p{
                            text-align: right;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1070px){
    #taken{
        height: 543px;
        .taken-block{
            width: 600px;
            margin: 0;
            margin-right: auto;
            h1{font-size: 40px;}
            p{
                line-height: 22px;
            }
            .img-block{
                .img-dis{
                    height: 55px;
                }
            }
        }
    }
}

@media(max-width:1000px){
    #taken{
       height: 845px;
        .image-block{
            flex-wrap: wrap;
            .img-block{
                width: 50%;
                .img-dis{
                    height: 52px;
                }
            }
        }
    }
}

@media(max-width: 800px){
    #taken{
        height: 800px;
        .taken-block{
            width: 100%;
            padding: 40px 30px ;
            padding-bottom: 60px;
            h1{font-size: 36px;}
            p{
                line-height: 20px;
            }
        }
    }
}

@media(max-width: 550px){
    #taken{
        height: 1395px;
        .taken-block{
            width: 100%;
            padding: 40px 30px ;
            padding-bottom: 60px;
            h1{font-size: 30px;}
            p{
                font-size: 16px;
                line-height: 20px;
                width: 100%;
            }
        }
        .image-block{
            .img-block{
                width: 100%;
                .img-dis{
                    height: 52px;
                }
            }
        }
    }
}

@media(max-width: 500px){
    #taken{
        height: 1415px;
    }
}

@media(max-width: 350px){
    #taken{
        height: 1435px;
    }
}