#taken {
  position: relative;
  height: 821px;
  background-color: #ffffff;
  width: 100%;
  z-index: 300;
}
#taken .taken-block {
  margin: 0 auto;
  width: 1030px;
  padding: 70px 30px;
  margin-bottom: 30px;
}
#taken .taken-block h1 {
  font-size: 48px;
  color: #f06464;
  font-weight: 400;
  margin-bottom: 20px;
}
#taken .taken-block p {
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  font-weight: 400;
  width: 470px;
}
#taken .image-block {
  position: relative;
  z-index: 100;
  height: 510px;
  width: 100%;
  display: flex;
}
#taken .image-block .img-block {
  width: 25%;
  height: 510px;
  transition: transform 0.3s ease-in-out;
}
#taken .image-block .img-block .img-content {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
#taken .image-block .img-block:hover, #taken .image-block .img-block.click {
  transform: translateY(-97px);
}
#taken .image-block .img-block .img-dis {
  display: flex;
  width: 100%;
  height: 87px;
  background-color: #151515;
  padding-top: 30px;
}
#taken .image-block .img-block .img-dis .dis-left p {
  margin-left: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #c2c2c2;
  font-weight: 400;
}
#taken .image-block .img-block .img-dis .dis-rigth {
  width: 100px;
  display: flex;
  margin-left: auto;
}
#taken .image-block .img-block .img-dis .dis-rigth svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
#taken .image-block .img-block .img-dis .dis-rigth svg:hover, #taken .image-block .img-block .img-dis .dis-rigth svg.click {
  fill: #f06464;
}
#taken .image-block .img-block .img-dis .dis-rigth p {
  text-align: right;
  margin-right: 20px;
  font-size: 24px;
  line-height: 27px;
  color: #f06464;
  font-weight: 400;
}

@media (max-width: 1600px) {
  #taken {
    height: 702px;
  }
  #taken .image-block {
    height: 400px;
  }
  #taken .image-block .img-block {
    height: 400px;
  }
  #taken .image-block .img-block:hover, #taken .image-block .img-block.click {
    transform: translateY(-80px);
  }
  #taken .image-block .img-block .img-dis {
    padding-top: 15px;
    height: 60px;
  }
}
@media (max-width: 1300px) {
  #taken .image-block .img-block:hover, #taken .image-block .img-block.click {
    transform: translateY(-80px);
  }
  #taken .image-block .img-block .img-dis {
    padding-top: 10px;
    height: 60px;
  }
  #taken .image-block .img-block .img-dis .dis-left p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
  }
  #taken .image-block .img-block .img-dis .dis-rigth {
    width: 80px;
  }
  #taken .image-block .img-block .img-dis .dis-rigth svg {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: 5px;
  }
  #taken .image-block .img-block .img-dis .dis-rigth p {
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (max-width: 1170px) {
  #taken {
    height: 588px;
  }
  #taken .taken-block {
    margin-bottom: 20px;
    padding-bottom: 60px;
  }
  #taken .image-block {
    height: 300px;
  }
  #taken .image-block .img-block {
    height: 300px;
  }
  #taken .image-block .img-block:hover, #taken .image-block .img-block.click {
    transform: translateY(-60px);
  }
  #taken .image-block .img-block .img-dis {
    padding-top: 10px;
    height: 50px;
  }
  #taken .image-block .img-block .img-dis .dis-left p {
    margin-top: 0px;
    margin-left: 10px;
  }
  #taken .image-block .img-block .img-dis .dis-rigth {
    margin-left: auto;
  }
  #taken .image-block .img-block .img-dis .dis-rigth svg {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }
  #taken .image-block .img-block .img-dis .dis-rigth p {
    text-align: right;
    margin-right: 10px;
  }
}
@media (max-width: 1070px) {
  #taken {
    height: 580px;
  }
  #taken .taken-block {
    width: 600px;
    margin: 0;
    margin-bottom: 20px;
    margin-right: auto;
  }
  #taken .taken-block h1 {
    font-size: 48px;
  }
  #taken .taken-block p {
    line-height: 22px;
  }
  #taken .taken-block .img-block .img-dis {
    height: 60px;
  }
}
@media (max-width: 1000px) {
  #taken {
    height: 860px;
  }
  #taken .image-block {
    flex-wrap: wrap;
  }
  #taken .image-block .img-block {
    width: 50%;
  }
  #taken .image-block .img-block:hover, #taken .image-block .img-block.click {
    transform: translateY(-50px);
  }
  #taken .image-block .img-block .img-dis {
    height: 60px;
  }
}
@media (max-width: 950px) {
  #taken .taken-block h1 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  #taken {
    height: 840px;
  }
  #taken .taken-block {
    width: 100%;
    padding: 40px 30px;
    padding-bottom: 60px;
  }
  #taken .taken-block p {
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  #taken .taken-block h1 {
    font-size: 30px;
  }
  #taken .taken-block p {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  #taken {
    height: 1415px;
  }
  #taken .taken-block {
    width: 100%;
    padding: 40px 30px;
    padding-bottom: 60px;
  }
  #taken .taken-block h1 {
    font-size: 30px;
  }
  #taken .taken-block p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
  #taken .image-block .img-block {
    width: 100%;
  }
  #taken .image-block .img-block .img-dis {
    height: 52px;
  }
}
@media (max-width: 500px) {
  #taken {
    height: 1415px;
  }
}
@media (max-width: 440px) {
  #taken {
    height: 1430px;
  }
}
@media (max-width: 350px) {
  #taken {
    height: 1450px;
  }
}

/*# sourceMappingURL=taken.css.map */
