$desktop: 1170px;
$desktops: 1030px;
$table: 900px;
$phone: 300px;

$paddingS: 10px;
$paddingM: 15px;
$paddingB: 20px;

$fontS: 14px;
$fontM: 16px;
$fontB: 18px;

$white: #ffffff;
$whitegray: #e7e7e7;
$gray: #aeaeae;
$blackgray: #666666;
$darkgray: #3a3a3a;
$dark: #313131;
$pink: #de5d5d;