#compatibility{
    height: 444px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    .container-fluid{
        padding: 0px 30px;
        h3{
            font-size: 24px;
            color: #666666;
            font-weight: 400;
        }
        hr{
            margin: 20px 0px;
            height: 2px; 
            background-color: #cbcbcb;
        }
        p{
            width: 95%;
            font-size: 16px;
            line-height: 24px;
            color: #666666;
        }
        img{
            margin-top: 30px;
        }
    }
}

@media(max-width:800px){
    #compatibility{
        .container-fluid{
            h3{
                font-size: 20px;
                color: #666666;
                font-weight: 400;
            }
            hr{
                margin: 15px 0px;
                height: 2px; 
                background-color: #cbcbcb;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: #666666;
                font-weight: 400;
            }
            img{
                margin-top: 15px;
                margin-bottom: 20px;
                max-width: 270px;
                height: auto;
            }
        }
    }
}