@import 'variable';
@import 'mixin';

#compatibility{
    height: 444px;
    background-color: $whitegray;
    display: flex;
    align-items: center;
    .container-fluid{
        max-width: $desktops;
        padding: 0px 30px;
        h3{
            @include text-properties(24px, $blackgray, 600);
        }
        hr{
            margin: $paddingB 0px;
            height: 2px; 
            background-color: $whitegray;
        }
        p{
            @include text-properties($fontM, $blackgray, 400);
            width: 95%;
            line-height: 24px;
        }
        img{
            margin-top: 30px;
        }
    }
}

@media(max-width:800px){
    #compatibility{
        .container-fluid{
            h3{
                @include text-properties(20px, $blackgray, 600);
            }
            hr{
                margin: $paddingM 0px;
                height: 2px; 
                background-color: $whitegray;
            }
            p{
                @include text-properties($fontS, $blackgray, 400);
                line-height: 20px;
            }
            img{
                margin-top: $paddingM;
                margin-bottom: $paddingB;
                max-width: 270px;
                height: auto;
            }
        }
    }
}