@import 'variable';
@import 'mixin';

#features{
    width: 100%;
    height: 803px;
    background-color: $dark;
    position: relative;
    z-index: 200;

    .features-block{
        display: flex;
        margin: 0 auto;
        width: $desktops;
        height: 803px;
        align-items:start;

        .features-text{
            padding: 30px;
            width: calc(530px);
            align-self: center;
            h1{
                @include text-properties(48px, $white, 600);
                padding-bottom: $paddingB;
            }
            p{
                @include text-properties($fontB, $gray, 400);
                line-height: 27px;
                padding-bottom: 60px ;
            }  
            .features-container{
                width: 470px;
                height: 232px;
                border-radius: 5px;
                background-color: $white;

                .features-dis{
                    .features-elem{
                        display: flex;
                        padding: 30px;
                        padding-bottom: 34px;
                        img{
                            width: 89px;
                            height: 89px;
                            margin-top: $paddingS;
                            margin-right: 30px;
                        }
                        .discription{
                            h3{
                                @include text-properties($fontB, $pink, 400);
                                line-height: 24px;                                
                                margin-bottom: 5px;
                            }
                            p{
                                @include text-properties($fontM, $blackgray, 400);
                                padding: 0px;
                                padding-right: $paddingB;
                                line-height: 24px;                                
                            }
                        }
                    }
                    
                }

                .features-slider-btn{
                    width: 100%;
                    height: 43px;
                    border-radius: 0px 0px 5px 5px;
                    padding: 0px 30px;
                    display: grid;
                    align-items: center;
                    background-color: $pink;
                    .features-btn{
                        width: 100%;
                        button {
                            width: 12px;
                            height: 12px;
                            margin: 0px 3px;
                            border-radius: 6px;
                            background-color: #ffffff00;
                            border: 2px solid $white;
                            &:hover {
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background-color: $white;
                            }
                            &.active{
                                background-color: $white;
                            }
                        }
                    }
                }
            }          
        }
        .features-img{
            width: calc(430px);
            margin-left: auto;
            img{
                filter: drop-shadow(2.5px 4.33px 31px rgba(0,0,0,0.68));
                padding-top: 100px;
            }
        }
    }
}

@media(max-width: 1070px){
    #features{
        height: 670px;
        .features-block{
            height: 670px;
            width: $table;
            .features-text{
                width: 450px;
                padding: 0px;
            }
            .features-img{
                margin: 0px auto;
                width: 350px;
                img{                   
                    padding-top: 30px;
                    width: 350px;
                    height: auto;
                }
            } 
        }
    }
} 

@media(max-width: 950px){
    #features{
        height: 1100px;
        .features-block{
            width: 600px;
            display: block;
            .features-text{
                
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: $fontB;
                }
                width: 470px;
                padding: 0px;
                padding-top: 30px;
                margin: 0px auto;
            }
        }
    }
}

@media(max-width: 600px){
    #features{
        height: 950px;
        overflow-y: hidden;
        .features-block{
            width: $phone;
            display: block;
            .features-text{
                width: $phone;
                padding: 0px;
                padding-top: 30px;
                margin: 0px auto;
                h1{
                    padding: 0px $paddingS;
                    font-size: 30px;
                    color: #ffffff;
                    font-weight: 400;
                    padding-bottom: $paddingB;
                }
                p{
                    padding: 0px $paddingS;
                    font-size: $fontM;
                    line-height: 20px;
                    color: #aeaeae;
                    font-weight: 400;
                    padding-bottom: 30px ;
                }  
                .features-container{
                    width: $phone;
                    height: 207px;
                    .features-dis{
                        .features-elem{
                            img{
                                width:50px;
                                height: 50px;
                            }
                            .discription{
                                p{
                                    padding: 0px;
                                    font-size: $fontM;
                                line-height: 18px;
                                }
                            }
                            padding: $paddingM;
                        }
                    }
                    .features-slider-btn{
                        padding: 0px $paddingM;
                        height: 40px;
                    }
                }
            }
            .features-img{
                margin: 0px auto;
                width: $phone;
                img{
                    width: $phone;
                    height: auto;
                    padding-top: 30px;
                }
            }
        }
    }
}