@import 'variable';
@import 'mixin';

footer{
    height: 225px;
    background-color: #f4f4f4;
    .container-fluid{
        max-width: $desktop;
        padding: 0px; height: 100%;
        .row{
            height: 225px;
            margin: 0 auto;
        }
        .first-coloum{
            padding-left: 0px; padding-right: 30px;
            p{
                @include text-properties($fontB, $blackgray, 400);
            }
        }
        .second-coloum{
            padding: 0px;
            p{
                @include text-properties($fontM, $blackgray, 400);
                line-height: 24px;
            }
            .email-input{
                margin-top: $paddingM;
                input{
                    width: 311px;
                    height: 48px;
                    padding: 0 $paddingB;
                    border-radius: 5px;
                    background-color: #f4f4f4;
                    border: 1px solid $gray;
                    font-size: $fontM;
                    line-height: 24px;
                    color: $blackgray;
                    font-weight: 400;
                    position: relative; z-index: 99;
                }
                button{
                    margin-left: $paddingS;
                    width: 101px;
                    height: 48px;
                    border-radius: 5px;
                    background-color: $pink;
                    font-size: $fontM;
                    line-height: 24px;
                    color: #f4f4f4;
                    font-weight: 400;
                }
                button:hover{           
                    background-color: #ff5151;
                }
            }
        }
    }
}

@media(max-width:1200px){
    footer{
        .container-fluid{
            max-width: $table;
        }
    }
}
@media(max-width:920px){
    footer{
        .container-fluid{
           max-width: 600px;
           .row{
            max-width: 600px;
           }
           .first-coloum{
            max-width: $phone;
            p{
                font-size: $fontM;
            }
           }
           .second-coloum{
            max-width: 300px;
            p{
                font-size: $fontS;
                line-height: 20px;
            }
            .email-input{
                input{
                    max-width: 220px;
                    padding: 0px $paddingS;
                    height: 40px;
                    font-size: $fontS;
                }
                button{
                    height: 40px;
                    font-size: $fontS;
                }
            }
           }
        }
    }
}

@media(max-width:620px){
    footer{
        text-align: center;
        .container-fluid{
            max-width: $phone;
            display: flex;
            align-items: center;
            .row{
                margin: 0 auto;
                height: 150px;
                max-width: $phone;

            }
            .first-coloum{
                order: 2;
                p{
                    text-align: center;
                    width:300px;
                    font-size: $fontM;
                }
            }
            .second-coloum{
                order: 1;
                input{
                    max-width: 100px
                }
            }
        }
    }
}