@import 'variable';
@import 'mixin';

header{
    margin-top: -50px;
    position: fixed;
    z-index: 1000;
    width:100%;
    height: 100px;
    background-color: $pink;
    .container-fluid{
        max-width: $desktop;
        padding: 0px;
        .row{
            max-width: 100%;
            justify-content: space-between;
            height: 100px;
            margin: 0px;
            a{
                text-decoration: none;
                @include text-properties(60px, $white, 600);
            }
            p{
               
                margin-top: $paddingB;
                line-height: 60px;
                font-family: 'Montserrat';
            }
            .menu-btn{
               display: flex;
                text-align: right; 
                justify-content: space-between;
                padding: 0px; flex-wrap: nowrap;
                button {
                    border: 0;
                    position: relative;
                    text-align: right;
                    flex-grow: 1;
                    height: 100%;
                    background-color: $pink;
                    box-sizing: border-box;
                    @include text-properties($fontB, $white, 400);
                    &::before {
                        content: '';
                        position: absolute;
                        height: 6px;
                        top: 0;
                        left: 0;
                        width: 90%;
                        background-color: $white;
                        transform: scaleX(0) translateX(50%);
                        transform-origin: bottom;
                    }
                
                    &:hover::before {
                        transform: scaleX(1) translateX(30%);
                    }
                
                    &.active::before {
                        transform: scaleX(1) translateX(30%);
                    }
                }
                
            }
            .col-md-8{
                flex: 0 0 800px;
                max-width: 800px;
            }
        }
    }
}

@media(max-width: 1200px){
    header{
        .container-fluid{
            max-width: 900px;
            padding: 0px 30px;
            .row{
                .col-md-8{
                    flex: 0 0 80%;
                    max-width: 100%;
                }
            }
        }
    }
}


//humburger menu

.menu {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.backcolor {
    width: 70px;
    height: 70px;
    background-color: $pink;
    display: none;
    justify-content: center;
    align-items: center;  
    button{
        @include text-properties($fontB, $white, 400);   
        background-color: $pink;
        margin: $paddingS 0px;
        padding:$paddingS $paddingB;
        border-radius: 70px;
        border:none;
        box-shadow: none;
        &:hover{
            color:black;
        }
    }
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
   display: block;
   background-color: $white;
   position: absolute;
   height: 3px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 3px;
   transition-duration: .25s;
}
  
.menu-button::before {
   content: '';
   margin-top: -8px;
}
  
.menu-button::after {
   content: '';
   margin-top: 8px;
}

//=========================
@media(max-width: 800px){
    header{
        height: 70px;
        .container-fluid{
            padding: 0px;
            .row{
                display: none;
            }
        }
    }
    .menu-button-container, .backcolor {
        label{
            margin: 0px;
        }
        display: flex;
      }
      .menu {
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        height: max-content;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.199);
        margin-top: -1px;
      }


      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #ffffff;
        background-color: $pink;
      }
}

@media(max-width:500px){
    header{
        margin-top: -40px;
        height: 40px;
        .container-fluid{
            padding: 0px;
            .row{
                display: none;
            }
        }
    }

    .backcolor{
        padding-left: $paddingS;
        width: 40px;
        height: 40px;
    }

    .menu-button-container, .backcolor {
        label{
            margin: 0px;
        }
        display: flex;
      }
      .menu {
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 40px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        height: max-content;
        padding: 0.3em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }


      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: $white;
        background-color: $pink;
      }
}