#share {
    margin-top: -48px;
    height: 782px;
    background-color: #262626;
    .share-block {
        padding-top: 48px;
        display: flex;
        height: 782px;
        width: 1170px;
        margin: 0 auto;
        .share-img{
            img{
                max-width: 500px;
                height: auto;
                position: relative;
                z-index: 100;
                margin-top: 50px;
                margin-right: 70px;
            }
        }
        .share-text{
            margin: auto 0px;
            align-items: center;
            padding-left: 30px;
            .share-title{
                max-width: 470px;
                h2{
                    font-size: 48px;
                    color: #ffffff;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 18px;
                    line-height: 27px;
                    color: #aeaeae;
                    font-weight: 400;
                }
                padding-bottom: 20px;
            }

            .share-slider{
                max-width: 470px;
                display: flex;
                flex-wrap: wrap;
                .share-dis{
                    width: 100%;
                    display: flex;
                    margin-top: auto;
                    padding: 20px 0px;
                    position: relative;
                    img{
                        align-self: center;
                        padding-right: 30px;
                    }
                    p{
                        width: 250px;
                        font-size: 16px;
                        line-height: 24px;
                        color: #aeaeae;
                        font-weight: 400;
                    }
                }
            }
            .share-slider-btn {
                padding: 0px 0px;
                width: 100%;
                button {
                    width: 12px;
                    height: 12px;
                    margin: 0px 3px;
                    border-radius: 6px;
                    background-color: #ffffff00;
                    border: 2px solid #ffffff;
                    &:hover {
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        background-color: #ffffff;
                    }
                    &.active{
                        background-color: #ffffff;
                    }
                }
            }
        }
    }    
}

@media(max-width: 1170px){
    #share{
        .share-block{
            width:900px;
            .share-img{ 
                img{
                    width: 400px;
                    margin-right: auto;
                }
            }
            .share-text{
                margin-right: 0px;
                img{
                    width: 180px;
                    height: 100px;
                }

                .share-slider{
                    width: calc(900px - 400px - 30px);
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #share {
        height: 1000px;
    
        .share-block {
            height: 1500px;
            width: 470px;
            flex-direction: column-reverse;
    
            .share-img {
                align-self: flex-end;
                text-align: center;
                margin: 0px auto;
    
                img {
                    margin: 0;
                }
            }
    
            .share-text {
                padding-left: 0px;
                .share-title {
                    padding-top: 60px;
                    p{
                        font-size: 16px;
                    }
                    h2 {
                        font-size: 40px;
                    }
                }
    
                .share-slider {
                    width: 470px;
    
                    .share-dis {
                        p{
                            width: auto;
                            font-size: 14px;
                        }
                        img {
                            align-self: center;
                            width: 150px;
                            height: 70px;
                        }
                    }
                }
            }

        }
    }
}    

@media(max-width: 600px){
    #share{
        height: 900px;
        .share-block {
            height: 1200px;
            width: 280px;
            flex-direction: column-reverse;
            .share-img {
                align-self: flex-end;
                text-align: center;
                margin: 0px auto;
                img{
                    width: 280px;
                    margin: 0;
                }
            }
            .share-text{
                .share-title{
                    padding-top: 0px;
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px; 
                    }
                }
                .share-slider{
                    width: calc(280px);
                    .share-dis{
                        img{
                            align-self: center;
                            width: 120px;
                            height: 50px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 18px; 
                        }
                    }
                }
            }
        }
    }
}