@import 'variable';
@import 'mixin';

#taken{
    position: relative;
    height: 821px;
    background-color: $white;
    width: 100%;
    z-index: 300;
    .taken-block{
        margin: 0 auto;
        width: $desktops;
        padding: 70px 30px;
        margin-bottom: 30px;
        h1{
            font-size: 48px;
            color: #f06464;
            font-weight: 400;
            margin-bottom: 20px;
        }
        p{
            font-size: $fontB;
            line-height: 27px;
            color: $blackgray;
            font-weight: 400;
            width: 470px;
        }
    }

    .image-block {
        position: relative;
        z-index: 100;
        height: 510px;
        width: 100%;
        display: flex;

        
        .img-block{
            width: 25%;
            height: 510px;
            transition: transform 0.3s ease-in-out;
            .img-content{
                width: 100%;
                height: 100%;
                overflow-y: visible;
                background-size: cover;
                background-position: left center;
                background-repeat: no-repeat;         
            }
            &:hover,
            &.click {
                transform: translateY(-97px);
            }
        
            .img-dis{
                display: flex;
                width:100%;
                height: 87px;
                background-color: #151515;
                padding-top: 30px;
                .dis-left{
                    p{
                        margin-left: 20px;
                        font-size: $fontM;
                        line-height: 27px;
                        color: #c2c2c2;
                        font-weight: 400;
                    }
                }
                .dis-rigth{
                    width: 100px;
                    display: flex;
                    margin-left: auto;
                    svg{
                        cursor: pointer;
                        width: 30px; 
                        height: 30px;
                        margin-right: 5px;
                        &:hover,
                        &.click{
                            fill: #f06464
                        }
                    }
                    p{
                        text-align: right;
                        margin-right: 20px;
                        font-size: 20px;
                        line-height: 27px;
                        color: #f06464;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media(max-width: 1600px){
    #taken{
        height: 702px;
        .image-block{
            height: 400px;
            .img-block{
                height: 400px;

                &:hover,
                &.click {
                transform: translateY(-80px);
            }
                .img-dis{
                    padding-top: $paddingM;
                    height: 60px;
                    .dis-rigth{
                        svg{
                            width: 25px; 
                            height: 25px;
                            margin-left: auto;
                            margin-right: 5px;
                        }
                        p{
                            text-align: right;
                            margin-right: 20px;
                            font-size: $fontM;
                            line-height: 24px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1300px){
    #taken{
        .image-block{
            .img-block{
                &:hover,
                &.click {
                transform: translateY(-80px);
            }
                .img-dis{
                    padding-top: $paddingS;
                    height: 60px;
                    .dis-left{
                        p{
                            margin-top: 5px;
                            font-size: $fontS;
                            line-height: 18px;
                        }
                    }
                    .dis-rigth{
                        width: 80px;
                        svg{
                            width: 25px; 
                            height: 25px;
                            margin-left: auto;
                            margin-right: 5px;
                        }
                        p{
                            text-align: right;
                            margin-right: $paddingB;
                            font-size: $fontM;
                            line-height: 24px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1170px){
    #taken{
        height: max-content;
        .taken-block{
            margin-bottom: 20px;
            padding-bottom: 60px;
            width: 100%;
        }
        .image-block{
            .img-block{
                &:hover,
                &.click {
                    transform: translateY(-50px);
                }
                .img-dis{
                    padding-top: $paddingS;
                    height: 50px;
                    .dis-left{
                        p{
                            margin-top: 0px;
                            margin-left: $paddingS;
                        }
                    }
                    .dis-rigth{
                        margin-left: auto;
                        svg{
                            width: 26px; 
                            height: 26px;
                            margin-right: 5px;
                        }
                        p{
                            text-align: right;
                            margin-right: $paddingS;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1070px){
    #taken{
        height: max-content;
        .image-block{
            height: 600px;
            flex-wrap: wrap;
            .img-block{
                height: 300px;
                width: 50%;
                &:hover,
                &.click {
                    transform: translateY(-50px);
                }
                .img-dis{
                    height: 60px;
                }
            }
        }
    }
}

@media(max-width: 950px){
    #taken{
        .taken-block{
            h1{
                font-size: 40px;
            }
        }
    }
}

@media(max-width: 800px){
    #taken{
        .taken-block{
            width: 100%;
            padding: 40px 30px ;
            padding-bottom: 60px;
            p{
                line-height: 20px;
            }
        }
    }
}


@media(max-width: 600px){
    #taken{
        .taken-block{
            h1{font-size: 30px;}
            p{
                font-size: $fontM;
            }
        }
    }
}

@media(max-width: 550px){
    #taken{
        .taken-block{
            width: 100%;
            padding: 40px 10px ;
            padding-bottom: 60px;
            h1{font-size: 30px;}
            p{
                font-size: $fontM;
                line-height: 20px;
                width: 100%;
            }
        }
        .image-block{
            height: 1200px;
            .img-block{
                width: 100%;
                height: 300px;
                .img-dis{
                    height: 52px;
                }
            }
        }
    }
}