#why_ama {
    position: relative;
    z-index: 100;
    height: 695px;
    background-color: #ffffff;  
    margin-top: -48px;

    .container{
        max-width: 1170px !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        h1{
            font-size: 48px;
            color: #3a3a3a;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }

    .why_ama-block {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    
        .why_ama-elem {
            flex-grow: 1; 
            max-width: 320px;
            img{
                max-width: 320px;
                height: auto;
                max-height: 229px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            p {
                max-width: 255px;
                margin: 0 auto;
                font-size: 16px;
                line-height: 24px;
                color: #666666;
                font-weight: 400;
                text-align: center;
            }

            
        }
    }
    
}

@media (max-width: 1170px) {
    #why_ama {
        height: max-content;
        margin-top: -10px;
        .container {
            padding: 50px 0px;
            width: 800px;

            h1 {
                font-size: 48px;
            }
        }
    }
}


@media (max-width: 950px) {
    #why_ama {
        .container {
            width: 580px !important;
            h1{
                font-size: 40px;
            }
            .why_ama-block {
                justify-content: center;
                .why_ama-elem {
                    img {
                        max-width: 150px;
                        height: auto;
                    }


                    p {
                        width: 250px;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    #why_ama {
        .container {
            width: 300px !important;
            h1{
                font-size: 30px;
            }
            .why_ama-block {
                .why_ama-elem {
                    img {
                        max-width: 100px;
                        height: auto;
                    }

                    p {
                        width: 250px;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}

@media(min-width:768px){
    .col-md-3{
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1170px;
    }
}
