@charset "UTF-8";
header {
  margin-top: -50px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-color: #de5d5d;
}
header .container-fluid {
  max-width: 1170px;
  padding: 0px;
}
header .container-fluid .row {
  max-width: 100%;
  justify-content: space-between;
  height: 100px;
  margin: 0px;
}
header .container-fluid .row a {
  text-decoration: none;
  color: #ffffff;
}
header .container-fluid .row p {
  margin-top: 20px;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
}
header .container-fluid .row .menu-btn {
  display: flex;
  justify-content: space-between;
}
header .container-fluid .row .menu-btn button {
  flex: 1;
  text-align: center;
  height: 100%;
  background-color: #de5d5d;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  padding-top: 10px;
  box-sizing: border-box; /* Враховувати товщину границі у розрахунку висоти */
}
header .container-fluid .row .menu-btn button:hover {
  border-top: 6px solid #ffffff;
}

@media (max-width: 1200px) {
  header .container-fluid {
    max-width: 900px;
    padding: 0px 30px;
  }
  header .container-fluid .row .col-md-8 {
    flex: 0 0 80%;
    max-width: 100%;
  }
}
.menu {
  display: none;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backcolor {
  width: 70px;
  height: 70px;
  background-color: #de5d5d;
  display: none;
  justify-content: center;
  align-items: center;
}
.backcolor button {
  color: #ffffff;
  background-color: #de5d5d;
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 70px;
  font-size: 16px;
  border: none;
  box-shadow: none;
}
.backcolor button:hover {
  color: black;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 3px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 3px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

@media (max-width: 800px) {
  header {
    height: 70px;
  }
  header .container-fluid {
    padding: 0px;
  }
  header .container-fluid .row {
    display: none;
  }
  .menu-button-container, .backcolor {
    display: flex;
  }
  .menu-button-container label, .backcolor label {
    margin: 0px;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: max-content;
    padding: 0.3em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #ffffff;
    background-color: #de5d5d;
  }
}
@media (max-width: 500px) {
  header {
    margin-top: -40px;
    height: 40px;
  }
  header .container-fluid {
    padding: 0px;
  }
  header .container-fluid .row {
    display: none;
  }
  .backcolor {
    width: 40px;
    height: 40px;
  }
  .menu-button-container, .backcolor {
    display: flex;
  }
  .menu-button-container label, .backcolor label {
    margin: 0px;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: max-content;
    padding: 0.3em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #ffffff;
    background-color: #de5d5d;
  }
}

/*# sourceMappingURL=header.css.map */
